extends layout

block content

    include toolbar

    v-content.brown.lighten-5.animation-fade-in(style="padding-top: 50px")
        //v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")

            v-flex(md12='')
                //v-card.pa-3.safe-area-inset(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")
                v-card.safe-area-inset.elevation-0.mb-4.pt-3.pb-5(:dark="isDark" :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly ? 'px-0' : 'px-3'")

                    v-card-title.pb-0.logo_blue_text(style="margin-top: 20px;")
                        span.display-2.mouse-over(style="font-weight: 800;", @click="goBoardMain()") !{title}
                        v-spacer
                        v-menu(bottom, left)
                            v-btn.ma-0(slot='activator', icon)
                                v-icon more_vert
                            v-list.dal-card
                                //v-list-tile(v-for="(toolbar, i) in toolbarItems", :key="i", :href="'#' + toolbar.href")
                                //    v-list-tile-title {{toolbar.title}}

                    v-card-text.py-0
                        v-divider.my-3

                    v-card-text.py-5.text-xs-center(v-if="loading")
                        v-progress-circular(indeterminate='', color='green')

                    template(v-if="!loading")

                        v-card-title.pt-0(v-if="items.length > 0")
                            v-list.no-padding-list.resizeable-row-list.py-0(style="width: 100%;")
                                v-list-tile(v-for='(item, index) in items', :key='index', @click='moveDetail(item)', :style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'")
                                    include board_item

                                v-list-tile(:style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'")
                                    v-layout.ma-2.pa-2(row, wrap, justify-center, align-center, style="height: 100px;", :class="isDark ? 'grey darken-2' : 'grey lighten-4'")
                                        .body-1 Ads

                        v-card-text.py-5.title.text-xs-center(v-else) 결과가 없습니다.
                            //v-layout.text-xs-center(row, wrap, style="width: 100%;")
                            //    .title.text-xs-center 결과가 없습니다.


                        v-card-text.py-0
                            v-layout.px-0.pb-2(row, wrap, justify-center, style="font-weight: 300;")
                                v-spacer
                                v-btn.ma-0(flat, icon, @click="isDark = !isDark")
                                    v-icon invert_colors

                        v-card-text.py-0
                            v-layout(row, wrap, justify-center)
                                v-flex.xs3(v-if="!($vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly)")
                                v-layout.text-xs-center(justify-center, :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly ? 'xs12' : 'xs6'")
                                    v-pagination.custom-pagination(v-model='page', :length='parseInt((totalBoardCount / pageStep) + 1, 10)', color="blue darken-1")
                                v-flex.xs3.text-xs-right(v-if="!($vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly)")
                                    v-btn.white--text.elevation-0(color='red', @click="goRegist()")
                                        v-icon.mr-2(left, dark) edit
                                        | 글작성

                        v-card-text.py-0.mt-3
                            v-layout(row, wrap, justify-center)
                                v-flex.xs2(v-if="!($vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly)")
                                v-layout.xs8.text-xs-center(justify-center, :class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly ? 'xs12' : 'xs8'")
                                    v-text-field(v-model='searchText', label='Search', hide-details, single-line, full-width, required, :rules="[]", append-icon="search", clear-icon='close', clearable,  @click:append='search()', @click:clear='searchText=""', @keyup="searchEnter($event)", :style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'")
                                v-flex.xs2(v-if="!($vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly)")




    include footer
    //include bottom_tab

    v-fab-transition
        v-btn.bottom-safe-area-margin(color='red', v-model='fab', dark, fab, fixed, bottom, right, @click="goRegist()")
            v-icon edit
            //v-icon close

    script(type="text/javascript" src='/javascripts/board-config.js')
    script.
        const vue = init('!{user}', '!{boardType}', '!{page}');