extends layout

block content

    link(href='/styles/quill.core.css', rel='stylesheet')
    link(href='/styles/quill.snow.css', rel='stylesheet')
    link(href='/styles/quill.bubble.css', rel='stylesheet')
    script(src='/scripts/quill.min.js')
    script(src='/scripts/vue-quill-editor.js')
    script(src='/scripts/interact.min.js')
    script.
        mxBasePath = '/scripts/src';
    script(src='/scripts/mxClient.js')
    script(src='/scripts/htmlparser.js')
    script(src='/scripts/html2json.js')
    script(src='/scripts/xml-js.js')

    include toolbar


    v-content.brown.lighten-5.animation-fade-in(style="padding-top: 50px")
        //v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-container.pa-0()

            v-flex(md12='')

                v-card.safe-area-inset.elevation-0.mb-5.pb-5(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'pt-3 pb-0 px-0' : 'pa-3'")

                    template(v-if="result !== null")


                        //v-card-text.pb-0.text-xs-right(style="margin-top: 20px;")
                        //    span.subtitle.grey--text(style="font-weight: 500;",) {{boardType.fullTitle}}

                        //v-card-text.py-0
                        //    v-divider.mt-1.mb-0

                        v-card-text.pt-3.pb-2.display-1.logo_blue_text(style="margin-top: 40px; font-weight: 700;") {{result.title}}
                            //v-text-field(v-model='result.title', ref="main_title", label='Title', :hide-details="true", single-line, full-width, :rules="[supporter.rules.counter_20]", :disabled="true")

                        v-card-text.py-0
                            v-divider.mt-1.mb-0


                        v-card-text.py-0.small-caption
                            v-layout.px-0.py-2.grey.lighten-4(row, wrap, align-center style="font-weight: 300;")
                                .text-xs-left.mx-2.mouse-over(@click="userInfo.showDialog($event, result.user_id)")
                                    strong {{ result.nickname }}
                                    | 님
                                v-spacer
                                .text-xs-right.px-2
                                    v-icon.caption.mr-1 visibility
                                    | {{result.hit}}
                                .text-xs-right.px-2(style="border-left: .4px solid rgba(0,0,0,0.2);") {{boardType.fullTitle}}


                        v-card-text.py-0.small-caption
                            v-layout.px-2.py-2(row, wrap, align-center style="font-weight: 300;")
                                .text-xs-left.pr-2
                                    v-icon.caption.mr-1 access_time
                                    | {{result.rgt_date.toLocaleString()}}
                                v-spacer
                                v-btn.elevation-0.ma-0.small-caption.py-1(:color="isLike ? 'blue' : 'grey lighten-1'", @click="submitLike(!isLike)", dark, flat, small, icon, style="min-width: 10px !important; height: fit-content;")
                                    v-icon.caption(dark) thumb_up
                                .caption {{result.like}}
                                v-btn.elevation-0.ma-0.small-caption.py-1(:color="isDislike ? 'red' : 'grey lighten-1'", @click="submitDislike(!isDislike)", dark, flat, icon, small, style="min-width: 10px !important; height: fit-content;")
                                    v-icon.caption(dark) thumb_down
                                .caption {{result.dislike}}

                        v-card-text.py-0
                            v-divider.my-0

                        //v-card-text.pt-2.pb-3(v-if="result.tags !== null && result.tags.length > 0")
                        //    v-layout.px-2.grey--text(row, wrap, justify-end)
                        //        template(v-for="(tag, index) in result.tags", :key="index")
                        //            .caption.mr-2 {{"#" + tag}}

                        //v-card-text.py-0
                        //    v-divider.my-0


                        v-card-text.py-3(v-if="result.parent_board_id !== null")
                            v-layout.px-2(row, wrap, style="width: 100%;", align-center, justify-center)
                                v-card.dal-card-scale.pa-3(style="width:100%;", :href='"/board/" + result.parent_board_id')
                                    v-card-text.caption.pa-0.pb-1.grey--text Original Post
                                    v-card-text.pa-0 {{ result.parent_title }}

                        v-card-text.pt-2.pb-3
                            quill-editor.no-border-quill-editor(:content='content', :options='editorOption', readonly, readOnly, disabled)


                        v-card-text.py-2.mt-4(v-show="boardType.type === 'ecosystem' && totalCapabilities !== null")
                            span.headline.red--text.text--darken-1(style="font-weight: 700;") Capability
                            v-layout.mt-2(row, wrap, :justify-center="$vuetify.breakpoint.width < 364", align-top)
                                template(v-for="(capa, index) in totalCapabilities", :key="index" v-if="capa.check")
                                    v-card.dal-small-card.mr-3.mb-3.animation-fade-in(hover, raised, :width="150", style="height: fit-content;", @mouseenter="showDetailCapability($event, capa)")
                                        v-card-media.white--text(height='100px')
                                            v-flex.platform-gradient-background(style="width: 100%; height: 100%;", justify-center, align-center, d-inline-flex)
                                                img.png-shadow(:src='"/images/capabilities/" + supporter.parseImageName(capa.capability) + ".png"', style="max-width: 60%; max-height: 60%; object-fit: contain;")
                                        v-card-text.py-1.text-xs-center {{ capa.capability }}

                        v-card-text.py-2.mt-4(v-show="products.length > 0" )
                            span.headline.red--text.text--darken-1(style="font-weight: 700;") Products
                            v-layout.mt-2(row, wrap, :justify-center="$vuetify.breakpoint.width < 604", align-center)
                                template(v-for="(product, index) in products", :key="index")
                                    v-card.dal-small-card.mr-3.mb-3(hover, raised)
                                        v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;", @click="showDetailProuct(product, index)")
                                            v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                                img.png-shadow(:src="product.img", style="max-width: 75%; max-height: 75%; border-radius: 10px;")
                                            v-flex.pa-2(style="width: 180px;")
                                                v-card-text.pa-0.pb-1
                                                    code.elevation-0(v-if="product.isFree") Free
                                                    code.elevation-0(v-else) {{ product.currency.symbol }}{{ product.price }}
                                                v-card-text.pa-0.title {{product.title}}
                                                v-card-text.py-2.px-0.grey--text.text--darken-1 {{product.company}}
                                                v-card-text.pa-0.light-blue--text.text--darken-3 Detail


                        v-card-text.py-2.mt-4(v-show="platforms.length > 0" )
                            span.headline.red--text.text--darken-1(style="font-weight: 700;") Platforms
                            v-layout.mt-2(row, wrap, :justify-center="$vuetify.breakpoint.width < 604", align-center)
                                template(v-for="(platform, index) in platforms", :key="index")
                                    v-card.dal-small-card.mr-3.mb-3(hover, raised)
                                        v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;", @click="showDetailPlatform(platform, index)")
                                            v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                                img.png-shadow(:src="platform.img", style="max-width: 75%; max-height: 75%; border-radius: 10px;")
                                            v-flex.pa-2(style="width: 180px;")
                                                v-card-text.pa-0.pb-1
                                                    code.elevation-0(v-if="platform.isFree") Free
                                                    code.elevation-0(v-else) {{ platform.currency.symbol }}{{ platform.price }}
                                                v-card-text.pa-0.title {{platform.title}}
                                                v-card-text.py-2.px-0.grey--text.text--darken-1 {{platform.company}}
                                                v-card-text.pa-0.light-blue--text.text--darken-3 Detail

                        v-card-text.py-2.mt-4(v-show="graphManager.graph !== null")
                            span.headline.red--text.text--darken-1(style="font-weight: 700;") 구성도
                            v-card.my-3.dal-card(hover, raised)
                                //v-card-media.pa-0(height="400px")
                                v-card-actions.py-1.px-2.grey.lighten-5(style="overflow: hidden;")
                                    //v-btn.mx-0(icon, flat, color="grey ", @click="graphManager.toXML()")
                                    //    v-icon code
                                    v-btn.elevation-0.mx-0(color="red darken-1", dark, small, flat, style="min-width: 10px !important;", v-if="graphManager.graph !== null", @click="goRegistWithGraph()")
                                        v-icon.pr-1.subheading(dark, v-if="!$vuetify.breakpoint.xsOnly") trending_up
                                        | 구성도 가져오기
                                    v-spacer
                                    v-btn-toggle.elevation-0(style="background: transparent;")
                                        v-btn.mx-0(icon, flat, @click="graphManager.zoomOut()")
                                            v-icon zoom_out
                                        v-btn.mx-0(icon, flat, @click="graphManager.setZoomLevel(0)")
                                            v-icon search
                                        v-btn.mx-0(icon, flat, @click="graphManager.zoomIn()")
                                            v-icon zoom_in
                                v-layout#graph-container.pb-2(row, wrap, justify-center, align-center, style="width: 100%; height: 400px;")
                                    div#graph(style="width: 100%; height: 100%; overflow:auto; cursor: initial; ")


                        v-card-text.py-2.mt-4(v-if="relatedBoard !== null && relatedBoard.length > 0")
                            span.headline.red--text.text--darken-1(style="font-weight: 700;") Related
                            v-layout.mt-2(row, wrap)
                                v-list.no-padding-list.resizeable-row-list.py-0(style="width: 100%;")
                                    v-list-tile(v-for='(item, index) in relatedBoard', :key='index', @click='moveDetail(item)', :style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'")
                                        include board_item



                        v-card-text.pt-0.pb-2.mt-5.text-xs-center
                            //v-btn.elevation-0.ma-0.mt-2(color="red darken-1", dark, small, style="min-width: 10px !important;", v-if="graphManager.graph !== null")
                            //    v-icon.pr-1.subheading(dark, v-if="!$vuetify.breakpoint.xsOnly") trending_up
                            //    | 구성도 가져오기
                            v-btn.elevation-0.ma-0.mt-2.logo_blue( dark, small, style="min-width: 10px !important;", @click="scrap()")
                                v-icon.pr-1.subheading(dark, v-if="!$vuetify.breakpoint.xsOnly") bookmark
                                | 스크랩
                            v-btn.elevation-0.ma-0.mt-2.logo_blue( dark, small, style="min-width: 10px !important;", @click="shareSheet=true")
                                v-icon.pr-1.subheading(dark, v-if="!$vuetify.breakpoint.xsOnly") bubble_chart
                                | 공유


                        v-card-text.pt-2.pb-2(v-if="result.tags !== null && result.tags.length > 0")
                            v-layout.px-2.grey--text(row, wrap, justify-start)
                                template(v-for="(tag, index) in result.tags", :key="index")
                                    .mr-2 {{"#" + tag}}


                        v-card-text.py-0
                            v-divider.my-0




                        template(v-if="boardType.type === 'ecosystem'")
                            v-card-text.mt-3.pb-5
                                v-layout(row, wrap, align-end, :class="$vuetify.breakpoint.xsOnly ? 'px-0' : 'px-4'", v-if="reviews.length > 0 && !reviewLoading")
                                    .headline(style="font-weight: 700;") {{ reviewSummary === null ? reviews.length : reviewSummary.count }} User Review{{ (reviewSummary === null ? reviews.length : reviewSummary.count) > 1 ? "s":"" }}
                                    v-spacer
                                    .caption.logo_blue_text.mouse-over(v-if="reviewSummary!== null && reviewSummary.count > reviews.length", @click="toggleAllReviewDialog()") See All

                                    v-card-text.pa-0
                                        v-layout(xs12, align-end)

                                            v-layout(align-end)
                                                .grey--text.text--darken-3(style="font-weight: 700;", :class="$vuetify.breakpoint.xsOnly ? 'headline' : 'display-2' ") {{ reviewSummary.rating.toFixed(1) }}
                                                .caption.grey--text.text--darken-1.ml-2.mb-1 out of 5
                                            v-rating.no-padding-rating(v-if="reviewSummary !== null", v-model="reviewSummary.rating", :medium="!$vuetify.breakpoint.xsOnly", half-increments, color="orange darken-1", background-color="grey lighten-1", readonly, style="width: fit-content;")

                                    v-card-text.pa-0.mt-2
                                        v-divider.my-0

                                    //v-layout(xs12, align-center)
                                    //    v-rating.no-padding-rating(v-if="reviewSummary !== null", v-model="reviewSummary.rating",  half-increments, color="orange darken-1", background-color="grey lighten-1", readonly, style="width: fit-content;")
                                    //    .headline.orange--text.text--darken-1.ml-2 {{ reviewSummary.rating.toFixed(2) }}



                                v-layout(row, wrap, justify-center style="width: 100%;", :class="$vuetify.breakpoint.xsOnly ? 'px-0' : 'px-4'")
                                    v-card-text.py-5.text-xs-center(v-if="reviewLoading")
                                        v-progress-circular(indeterminate='', color='green')

                                    v-card-text.pa-0.ma-0(v-else-if="reviews.length > 0")
                                        v-flex.pt-3.mt-0.px-2(xs12, container, style="overflow:visible")
                                            v-carousel.elevation-0.jumbotron-overlay(hide-delimiters, hide-controls, style="overflow:visible;", light, :style="'height: ' + (reviewHeight) + 'px;'")
                                                v-carousel-item.elevation-0(v-for='(array,i) in supporter.splitArrayBig(reviews)', :key='i', style="overflow:visible")
                                                    v-layout(justify-center)
                                                        v-flex(v-for="(item, index) in array", :key='index', xs12, sm6, md6, lg4, v-if="item !== null")
                                                            include review_item

                                        v-btn.elevation-0.ma-0.mt-2.logo_blue_text(flat, small, style="min-width: 10px !important;", @click="toggleReviewDialog()")
                                            v-icon.pr-1.subheading(dark) create
                                            | Write a Review

                                    v-card-text.pa-0.ma-0.text-xs-center.mt-2(v-else) 리뷰가 없습니다.

                                    v-card-text.pa-0.ma-0.text-xs-center.mt-2(v-if="reviews.length <= 0")
                                        v-btn.elevation-0.ma-0.mt-2.logo_blue(dark, small, style="min-width: 10px !important;", @click="toggleReviewDialog()")
                                            v-icon.pr-1.subheading(dark) create
                                            | Write a Review


                            v-card-text.py-0
                                v-divider.my-0


                        v-card-text.mt-3.pb-5
                            v-layout(row, wrap, :class="$vuetify.breakpoint.xsOnly ? 'px-0' : 'px-4'", v-if="comments.length > 0 && !commentLoading")
                                .headline(style="font-weight: 700;") {{comments.length}} Comment{{ comments.length > 1 ? "s":"" }}
                                v-card-text.pa-0.mt-2
                                    v-divider.my-0

                            v-layout(row, wrap, justify-center style="width: 100%;", :class="$vuetify.breakpoint.xsOnly ? 'px-0' : 'px-4'")
                                v-card-text.py-5.text-xs-center(v-if="commentLoading")
                                    v-progress-circular(indeterminate='', color='green')

                                v-card-text.pa-0.ma-0(v-else-if="comments.length > 0")
                                    v-list.no-padding-list.resizeable-row-list.py-0(style="width: 100%;")
                                        v-list-tile(v-for='(comment, index) in comments', :key='index', @click='', style="border-bottom: .4px solid rgba(0,0,0,0.2) !important;" :style="comment.depth > 1 ? ('margin-left: ' + ((comment.depth-1) * 20) + 'px;') : ''")
                                            include comment_item

                                        v-list-tile(@click='getComments()', style="border-bottom: .4px solid rgba(0,0,0,0.2) !important;")
                                            v-layout.py-2(row, wrap, style="width: 100%;", justify-center)
                                                .caption 새로운 댓글 확인하기


                                v-card-text.pa-0.ma-0.text-xs-center.mt-2(v-else) 댓글이 없습니다.

                                v-flex.xs12.py-0.mx-0.mt-5(style="border: .4px solid rgba(0,0,0,0.2);", v-show="!commentLoading")
                                    v-form(ref="form_comment", style="width: 100%;")
                                        v-progress-linear.my-0(indeterminate, height=2, color="indigo darken-2", v-if="commentSubmitProgress")
                                        v-card.pa-0.elevation-0(style="margin: 2px; border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);", v-if="tempParentComment !== null")
                                            v-card-text.pa-0.small-caption
                                                v-layout.px-3(row, wrap, align-center, fill-height)
                                                    v-avatar.mr-2(:tile='false', size='20px')
                                                        img(:src='tempParentComment.data.user_photo', alt='Avatar', style="border-radius: 35% !important;")
                                                    .pr-2(style="border-right: .4px solid rgba(0,0,0,0.2);") {{ tempParentComment.data.nickname }}
                                                    .small-caption.pl-2 {{tempParentComment.data.content}}
                                                    v-spacer
                                                    v-btn(icon, flat, small, color="grey", @click="tempParentComment = null")
                                                        v-icon.subheading close

                                            //v-layout(style="width:100%;", row, wrap)
                                        v-textarea.ml-2.mr-3.py-0.my-0.no-padding-text-field(ref="area_comment", :hide-details="tempComment === null || tempComment.length == 0 || (tempComment.length >= 2 && tempComment.length <= 200)", full-width, required, :rules="[supporter.rules.counter_2, supporter.rules.counter_200]" :placeholder='auth.user === null ? "로그인이 필요합니다." : "댓글을 입력해주세요."', v-model="tempComment", :disabled="auth.user === null || commentSubmitProgress")
                                        v-layout(row, wrap, style="width: 100%;", align-center, justify-center, v-show="auth.user !== null")
                                            v-btn.logo_blue_text(flat, v-show="!showCommentGraph" @click="toggleCommentGraph()") 그래프 추가
                                            v-card.ma-3.dal-card-blue(hover, raised, style="width: 100%;", v-show="showCommentGraph")
                                                //v-card-media.pa-0(height="400px")
                                                v-card-actions.py-1.px-2.grey.lighten-5(style="overflow: hidden;", v-if="commentGraph !== null")
                                                    v-btn.mx-0(icon, flat, color="red", @click="removeCommentGraph()")
                                                        v-icon clear
                                                    v-btn.mx-0(icon, flat, color="grey", @click="fillCommentGraph('clear')")
                                                        v-icon delete_outline
                                                    v-spacer
                                                    v-btn-toggle.elevation-0(style="background: transparent;")
                                                        v-btn.mx-0(icon, flat, @click="commentGraph.zoomOut()")
                                                            v-icon zoom_out
                                                        v-btn.mx-0(icon, flat, @click="commentGraph.setZoomLevel(0)")
                                                            v-icon search
                                                        v-btn.mx-0(icon, flat, @click="commentGraph.zoomIn()")
                                                            v-icon zoom_in
                                                v-layout.pb-2(row, wrap, justify-center, align-center, style="width: 100%; height: 400px;")
                                                    div#comment-graph(style="width: 100%; height: 100%; overflow:auto; ")

                                                v-divider

                                                v-card-text.pa-0.pt-2.text-xs-center
                                                    .caption 그래프 가져오기

                                                v-card-text.pa-0.text-xs-center
                                                    v-btn.logo_blue_text(flat, style="min-width: 10px !important;", @click="fillCommentGraph('board')") 본문
                                                    v-btn.logo_blue_text(flat, style="min-width: 10px !important;", @click="fillCommentGraph('comment')", v-if="tempParentComment !== null && tempParentComment.data.graph !== null") 댓글

                                                //v-card-text.pa-0.text-xs-center
                                                //    v-btn(flat, color="red", @click="removeCommentGraph()") 그래프 삭제

                                        v-btn.pa-0.ma-0.elevation-0.logo_blue(v-if="!commentSubmitProgress", block, small, dark, @click="submitComment()", submit, :disabled="auth.user === null") 등록

                        v-card-text.py-0
                            v-divider.my-0


                        v-card-text.pt-0.pb-2
                            v-layout(style="width: 100%;")
                                v-btn.elevation-0.ma-0.mt-2(flat, dark, small, color="grey darken-1" style="min-width: 10px !important;", @click="goList()")
                                    v-icon.pr-1.subheading(dark) list
                                    | 목록으로
                                v-spacer
                                v-btn.elevation-0.ma-0.mt-2(flat, dark, small, color="red", style="min-width: 10px !important;", @click="goRegist()")
                                    v-icon.mr-2.subheading(left, dark) edit
                                    | 글작성

                        //template(v-if="!boardLoading")
                        //
                        //    v-card-title.pb-2.logo_blue_text(style="margin-top: 20px;")
                        //        span.display-1(style="font-weight: 800;") {{boardType.fullTitle}}
                        //
                        //    v-card-title.pt-0.pb-5(v-if="board !== null && board.length > 0")
                        //        v-list.no-padding-list.resizeable-row-list.py-0(style="width: 100%;")
                        //            v-list-tile(v-for='(item, index) in board', :key='index', @click='moveDetail(item)', :style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'", :class="item.id === result.id ? 'indigo lighten-5' : '' ")
                        //                include board_item
                        //
                        //    v-card-text.py-5.title.text-xs-center(v-else) 결과가 없습니다.
                        //
                        //v-card-text.py-5.text-xs-center(v-else)
                        //    v-progress-circular(indeterminate='', color='green')


                    v-card-text.text-xs-center.py-5(v-else)
                        v-progress-circular(indeterminate='', color='green')


    v-content.brown.lighten-5.animation-fade-in
        //v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-container.pa-0()

            v-flex(md12='')

                v-card.safe-area-inset.elevation-0.mb-4(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'pt-3 pb-0 px-0' : 'pa-3'")

                    template(v-if="!boardLoading")

                        v-card-title.pb-2.logo_blue_text(style="margin-top: 20px;")
                            span.display-1(style="font-weight: 800;") {{boardType.fullTitle}}

                        v-card-title.pt-0.pb-5(v-if="board !== null && board.length > 0")
                            v-list.no-padding-list.resizeable-row-list.py-0(style="width: 100%;")
                                v-list-tile(v-for='(item, index) in board', :key='index', @click='moveDetail(item)', :style="isDark ? 'border-bottom: .4px solid rgba(255, 255, 255,0.2) !important;' : 'border-bottom: .4px solid rgba(0,0,0,0.2) !important;'", :class="item.id === result.id ? 'indigo lighten-5' : '' ")
                                    include board_item

                        v-card-text.py-5.title.text-xs-center(v-else) 결과가 없습니다.

                    v-card-text.py-5.text-xs-center(v-else)
                        v-progress-circular(indeterminate='', color='green')


    v-menu.menu-capability(v-model='detailCapabilityDialog', :close-on-content-click='false', :nudge-width='$vuetify.breakpoint.width < 380 ? $vuetify.breakpoint.width - 20 : 380', max-width="380", offset-x, transition="slide-x-transition", :position-x="detailCapabilityDialogPos.x", :position-y="detailCapabilityDialogPos.y", absolute)
        v-card(v-if="detailCapability !== null")
            v-list
                v-list-tile(avatar='')
                    v-list-tile-avatar
                        v-flex.platform-gradient-background(style="width: 100%; height: 100%; border-radius: 50%;", justify-center, align-center, d-inline-flex)
                            img.png-shadow(:src='"/images/capabilities/" + supporter.parseImageName(detailCapability.capability) + ".png"', style="max-width: 60%; max-height: 60%; object-fit: contain; border-radius: 0px;")
                    v-list-tile-content
                        v-list-tile-title {{detailCapability.capability}}
                    v-list-tile-action
                        v-btn(icon, ripple, small, @click="detailCapabilityDialog=false")
                            v-icon(color='grey lighten-1') close

                v-list-tile(avatar='', v-if="detailCapability.description !== null")
                    v-list-tile-content
                        v-list-tile-sub-title.caption Description
                        v-list-tile-title {{ detailCapability.description }}

            v-divider(v-if="detailCapabilityProducts !== null && detailCapabilityProducts.length > 0")

            v-card-text.py-2.mt-2(v-if="detailCapabilityProducts !== null && detailCapabilityProducts.length > 0")
                span.title.red--text.text--darken-1(style="font-weight: 700;") Control
                v-layout.mt-2(row, wrap, justify-center, align-center)
                    template(v-for="(product, index) in detailCapabilityProducts", :key="index")
                        v-card.dal-small-card.mr-3.mb-3(hover, raised)
                            v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;", @click="showDetailProuct(product, index)")
                                v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                    img.png-shadow(:src="product.img", style="max-width: 75%; max-height: 75%; border-radius: 10px;")
                                v-layout.pa-2(style="width: 180px;", align-center)
                                    v-card-text.pa-0.body-2 {{product.title}}

        v-card(v-else)
            v-card-text.py-5.text-xs-center
                v-progress-circular(indeterminate='', color='green')


    v-dialog.md6(v-model='detailProductDialog',  scrollable, max-width='500px')
        v-card(v-if="detailProduct !== null")
            v-card-title.title Product Information
                //span.headline Login
            v-divider.py-0.my-0

            v-card-text.py-2
                v-layout(row, wrap)
                    v-card-text.py-2.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Title
                        .body-1 {{ detailProduct.title }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Description
                        .body-1 {{ detailProduct.description }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Company
                        .body-1 {{ detailProduct.company }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Price
                        .body-1(v-if="detailProduct.isFree") Free
                        .body-1(v-else) {{ detailProduct.currency.symbol }}{{ detailProduct.price }}

                    v-card-text.py-2.mt-3.px-0(v-if="detailProduct.img !== null")
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Image
                        v-layout(row, wrap, align-center, justify-center)
                            //v-flex(xs12, v-if="tempProduct.img !== null", justify-center, d-inline-flex)
                            img#detailProductImg(:src="detailProduct.img", style="max-width: 80%; max-height: 200px;")

                    v-card-text.py-2.mt-3.px-0(v-if="detailProduct.capabilities !== null && detailProduct.capabilities.length > 0")
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Capability
                        v-layout.mt-2(row, wrap, justify-center, align-top)
                            template(v-for="(capa, index) in detailProduct.capabilities", :key="index" v-if="capa.check")
                                v-card.dal-small-card.mr-3.mb-3.animation-fade-in(hover, raised, :width="150", style="height: fit-content;")
                                    v-card-media.white--text(height='100px')
                                        v-flex.platform-gradient-background(style="width: 100%; height: 100%;", justify-center, align-center, d-inline-flex)
                                            img.png-shadow(:src='"/images/capabilities/" + supporter.parseImageName(capa.capability) + ".png"', style="max-width: 60%; max-height: 60%; object-fit: contain;")
                                    v-card-text.py-1.text-xs-center {{ capa.capability }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") URL
                        .body-1
                            a.light-blue--text.text--darken-3(:href="detailProduct.url", target="_blank") {{ detailProduct.url }}

                    v-card-text.py-2.mt-3.px-0(v-if="detailProduct.selectedPlatform.length > 0")
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Work with
                        v-layout.mt-2(row, wrap, justify-center, align-center)
                            template(v-for="(platform, index) in detailProduct.selectedPlatform", :key="index")
                                v-card.dal-small-card.mr-3.mb-3(hover, raised)
                                    v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;", @click="showDetailPlatform(platform, index)")
                                        v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                            img.png-shadow(:src="platform.img", style="max-width: 75%; max-height: 75%; border-radius: 10px;")
                                        v-flex.pa-2(style="width: 180px;")
                                            v-card-text.pa-0.pb-1
                                                code.elevation-0(v-if="platform.isFree") Free
                                                code.elevation-0(v-else) {{ platform.currency.symbol }}{{ platform.price }}
                                            v-card-text.pa-0.title {{platform.title}}
                                            v-card-text.py-2.px-0.grey--text.text--darken-1 {{platform.company}}
                                            v-card-text.pa-0.light-blue--text.text--darken-3 Detail



            v-divider.py-0.my-0

            v-card-actions
                //v-btn(color='error', flat, @click="removeProductFromDetail()") 삭제
                v-spacer
                v-btn(color='success', flat, @click.native="detailProductDialog = false") 닫기

    v-dialog.md6(v-model='detailPlatformDialog',  scrollable, max-width='500px')
        v-card(v-if="detailPlatform !== null")
            v-card-title.title Platform Information
                //span.headline Login
            v-divider.py-0.my-0

            v-card-text.py-2
                v-layout(row, wrap)
                    v-card-text.py-2.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Title
                        .body-1 {{ detailPlatform.title }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Description
                        .body-1 {{ detailPlatform.description }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Company
                        .body-1 {{ detailPlatform.company }}

                    v-card-text.py-2.mt-3.px-0(v-if="detailPlatform.img !== null")
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Image
                        v-layout(row, wrap, align-center, justify-center)
                            //v-flex(xs12, v-if="tempProduct.img !== null", justify-center, d-inline-flex)
                            img#detailPlatformImg(:src="detailPlatform.img", style="max-width: 80%; max-height: 200px;")

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") URL
                        .body-1
                            a.light-blue--text.text--darken-3(:href="detailPlatform.url", target="_blank") {{ detailPlatform.url }}

                    v-card-text.py-2.mt-3.px-0
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Price
                        .body-1(v-if="detailPlatform.isFree") Free
                        .body-1(v-else) {{ detailPlatform.currency.symbol }}{{ detailPlatform.price }}

                    v-card-text.py-2.mt-3.px-0(v-if="detailPlatform.selectedProducts.length > 0")
                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Work with
                        v-layout.mt-2(row, wrap, justify-center, align-center)
                            template(v-for="(product, index) in detailPlatform.selectedProducts", :key="index")
                                v-card.dal-small-card.mr-3.mb-3(hover, raised)
                                    v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;", @click="showDetailProuct(product, index)")
                                        v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                            img.png-shadow(:src="product.img", style="max-width: 75%; max-height: 75%; border-radius: 10px;")
                                        v-flex.pa-2(style="width: 180px;")
                                            v-card-text.pa-0.pb-1
                                                code.elevation-0(v-if="product.isFree") Free
                                                code.elevation-0(v-else) {{ product.currency.symbol }}{{ product.price }}
                                            v-card-text.pa-0.title {{product.title}}
                                            v-card-text.py-2.px-0.grey--text.text--darken-1 {{product.company}}
                                            v-card-text.pa-0.light-blue--text.text--darken-3 Detail

            v-divider.py-0.my-0

            v-card-actions
                //v-btn(color='error', flat, @click="removePlatformFromDetail()") 삭제
                v-spacer
                v-btn(color='success', flat, @click.native="detailPlatformDialog = false") 닫기

    v-dialog.md6(v-model='writeReviewDialog',  scrollable, max-width='500px', :persistent="submitReviewProgress")
        v-form(style="width: 100%;", ref="form_review")
            v-card(v-if="tempReview !== null")
                v-card-title.display-1.logo_blue_text Write Review
                    //span.headline Login
                //v-divider.py-0.my-0

                v-card-text.py-1.px-2.text-xs-center
                    v-rating(v-model="tempReview.rating", hover, half-increments, color="orange darken-1", background-color="grey lighten-1", :readonly="submitReviewProgress")
                    span.caption.grey--text(v-if="tempReview.rating === 0") Tap to Rate (more than 0.5)
                    span.caption.grey--text(v-else) {{ tempReview.rating }}
                //v-divider.py-0.my-0

                v-card-text.py-0.px-2
                    v-text-field(v-model='tempReview.title', ref="review_title", label='Title', :hide-details="tempReview.title === null || tempReview.title.length == 0 || (tempReview.title.length >= 2 && tempReview.title.length <= 40)", single-line, full-width, required, :rules="[supporter.rules.counter_2, supporter.rules.counter_40]", :disabled="submitReviewProgress")

                v-divider.py-0.my-0

                v-card-text.py-0.px-2.mx-1
                    v-textarea.ml-2.mr-3.py-0.my-0.no-padding-text-field(ref="area_review", :hide-details="tempReview.content === null || tempReview.content.length == 0 || (tempReview.content.length >= 2 && tempReview.content.length <= 200)", full-width, required, :rules="[supporter.rules.counter_2, supporter.rules.counter_200]" placeholder="리뷰를 입력해주세요.", v-model="tempReview.content", :disabled="submitReviewProgress")


                v-divider.py-0.my-0

                v-card-text.py-0.px-2
                    v-text-field(v-model='tempReview.nickname', ref="review_nickname", label='Nickname', :hide-details="tempReview.nickname === null || tempReview.nickname.length == 0 || (tempReview.nickname.length >= 2 && tempReview.nickname.length <= 10)", single-line, full-width, required, :rules="[supporter.rules.counter_2, supporter.rules.counter_10]", :disabled="submitReviewProgress")


                v-card-text.pa-0(v-if="submitReviewProgress")
                    v-progress-linear.my-0(indeterminate, height="2", color="green")
                v-divider.py-0.my-0(v-else)

                v-card-actions
                    v-btn(color='error', flat, @click="writeReviewDialog = false", :disabled="submitReviewProgress") 취소
                    v-spacer
                    v-btn(color='success', flat, @click="submitReview()", :disabled="submitReviewProgress") 제출


    v-dialog.md6(v-model='reviewDialog', scrollable, max-width='500px')
        v-card
            v-card-text.pb-0(style="height: 140px;")
                v-layout.px-0(row, wrap, align-end, v-if="reviews.length > 0 && !reviewLoading")
                    .headline(style="font-weight: 700;") {{ reviewSummary === null ? reviews.length : reviewSummary.count }} User Review{{ (reviewSummary === null ? reviews.length : reviewSummary.count) > 1 ? "s":"" }}

                    v-card-text.pa-0
                        v-layout(xs12, align-end)

                            v-layout(align-end)
                                .grey--text.text--darken-3(style="font-weight: 700;", :class="$vuetify.breakpoint.xsOnly ? 'headline' : 'display-2' ") {{ reviewSummary.rating.toFixed(1) }}
                                .caption.grey--text.text--darken-1.ml-2.mb-1 out of 5
                            v-rating.no-padding-rating(v-if="reviewSummary !== null", v-model="reviewSummary.rating", :medium="!$vuetify.breakpoint.xsOnly", half-increments, color="orange darken-1", background-color="grey lighten-1", readonly, style="width: fit-content;")



            v-card-text.py-2.px-0(v-if="allReviews !== null && allReviews.length > 0")
                v-list.px-0.fit-height-list
                    v-list-tile(v-for="(item, index) in allReviews", :key="index")
                        include review_item

            v-card-text.py-3.text-xs-center(v-else)
                v-progress-circular(indeterminate='', color='green')

            v-divider.py-0.my-0

            v-card-actions
                //v-btn(color='error', flat, @click="addCapability()") Clear
                v-spacer
                v-btn(color='success', flat, @click.native="reviewDialog = false") 닫기


    v-bottom-sheet(v-model='shareSheet', inset, max-width='500px')
        v-list.bottom-safe-area-padding
            v-subheader 공유하기
            v-list-tile(v-for='tile in shares', :key='tile', @click='shareTo(tile.title)')
                v-list-tile-avatar
                    v-avatar(size='32px', tile='')
                        img(:src="'/images/' + tile.img")
                v-list-tile-title {{ tile.title }}

    v-dialog.md6(v-model='scrapSuccessDialog',  scrollable, max-width='500px')
        v-card
            v-card-title.headline(icon)
                v-icon.mr-2(color='success') check_circle
                | 스크랩 성공
            v-card-text
                | 성공적으로 스크랩하였습니다.
            v-card-actions
                v-btn(color='error', flat, @click="supporter.movePage('/mypage')") 확인하기
                v-spacer
                v-btn(color='success', flat, @click.native="scrapSuccessDialog = false") 닫기

    v-dialog(v-model='scrapFailDialog', max-width='500px')
        v-card
            v-card-title.headline
                v-icon.mr-2(color='error') error
                | 안내
            v-card-text
                | 이미 스크랩된 게시글입니다.
            v-card-actions
                v-spacer
                v-btn(color='error', flat='flat', @click="scrapFailDialog = false") 확인

    include user_information_dialog

    include footer
    //include bottom_tab


    script(type="text/javascript" src='/javascripts/detail-config.js')
    script.
        const vue = init('!{user}', '!{boardID}');