v-card.dal-card-scale.text-xs-left(light, flat='', tile='', hover, raised, :class="$vuetify.breakpoint.xsOnly ? 'mb-3' : 'ma-2' ", v-if="item !== null")

    v-card-media(src="https://cdn.vuetifyjs.com/images/carousel/bird.jpg", height='250px')

    v-card-title.title.mb-0.py-2.grey--text.text--darken-3 {{ item.title }}

    v-card-text.py-0.text-xs-left(v-if="item.tags !== null && item.tags.length > 0")
        span.caption.grey--text {{ supporter.hashTagsToString(item.tags, 3) }}
    v-card-actions
        v-spacer
        //v-btn(flat, small, slot='activator', color='orange', dark, @click="shareSheet=true; shareItem=item;") Share
        v-btn.logo_blue_text(flat, small, slot='activator', dark, @click="") Share
        v-btn.logo_blue_text(flat,small, :href="'/board/'+item.id") Detail
    //v-divider
    //v-card-text.py-1.text-xs-left
    //    span.caption.grey--text {{item.rgt_date.toLocaleString()}}

div(v-else)