extends layout

block content
    link(href='/stylesheets/kenburn.css', rel='stylesheet')
    script(src='/scripts/vue-fullpage.min.js')
    link(rel='stylesheet', type='text/css', href='https://unpkg.com/fullpage.js/dist/fullpage.min.css')

    include toolbar_index

    div.animation-fade-in-2s
        full-page#fullpage(ref='fullpage', :options='options')
            .section.section-full-page
                //.slideshow-image(style="background-image: url('https://source.unsplash.com/category/nature/1600x1400')")
                //.slideshow-image(style="background-image: url('https://source.unsplash.com/category/buildings/1600x1400')")
                //.slideshow-image(style="background-image: url('https://source.unsplash.com/category/food/1600x1400')")
                //.slideshow-image(style="background-image: url('https://source.unsplash.com/category/technology/1600x1400')")
                v-layout(style="height:100%;").slideshow
                    .slideshow-image(style="background-image: url('/images/bg_index_1.jpg')")
                    .slideshow-image(style="background-image: url('/images/bg_index_2.jpg')")
                    .slideshow-image(style="background-image: url('/images/bg_index_3.jpg')")
                    .slideshow-image(style="background-image: url('/images/bg_index_4.jpg')")
                    #overlay(@click="getActiveSectionIndex()")
                        div.box-index.py-4

                            //hr.mb-2(style="width: 30%; margin: auto; border-width: 0.5px;")

                            h1
                                img(src="/images/logo/iotips_dark_large.png", :width='$vuetify.breakpoint.width <= 580 ? $vuetify.breakpoint.width - 100 : 480')

                            h1.mb-2
                                small(style="font-weight: 300;", :style='$vuetify.breakpoint.width <= 420 ? ($vuetify.breakpoint.width <= 320 ? "font-size: 30%;" : "font-size: 50%;") : ""') Share and Discuss IoT Ecosystem

                            //hr.mt-3(style="width: 30%; margin: auto; border-width: 0.5px;")



                            //small No.1
                            //|  IoT Shared Platform
                            //small powered by Team
                    //| First section ...
                    //v-btn(flat, color="white", @click='$refs.fullpage.api.moveSectionDown()') Next
            .section.section-full-page(style="z-index: 5;")
                v-layout.safe-area-inset(style="height: 100%")
                    v-flex.mx-3.text-xs-center(style="margin: auto;")

                        //v-container(fluid, grid-list-md, style="overflow:visible")
                        //    v-layout(wrap, style="overflow:visible")
                        v-flex.text-xs-center.pb-1(xs12, justify-center, align-center)
                            p(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'headline deep-orange--text text--darken-3 mb-0' : 'deep-orange--text text--darken-3 mb-0'", style='font-weight: bold; font-size: 230%;') 가장 많이 본 IoT 구성
                            span(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ?  'body-2' : 'subheading'") 많은 사람들이 찾아본 IoT 구성입니다.


                        v-flex.pt-3.mt-3(xs12, container, style="overflow:visible", v-if="mostViewItems.length > 0")
                            v-carousel.elevation-0.jumbotron-overlay(hide-delimiters, style="overflow:visible;", light, :style="'height: ' + (Math.min($vuetify.breakpoint.height-400, 250)+101) + 'px;'")
                                v-carousel-item.elevation-0(v-for='(array,i) in supporter.splitArray(mostViewItems)', :key='i', style="overflow:visible")
                                    v-layout
                                        v-flex(v-for="(item, index) in array", :key='index', xs12, sm6, md4, lg3)
                                            include index_card_item

                            //v-btn.mt-0(style='margin: 0 auto;  min-width: 60px; font-size: 0.8em;', dark, small, flat, color="white", outline, round, href='/board/ecosystem')
                            //    span MORE

                        v-flex.pt-3.mt-3(xs12, container, style="overflow:visible", :class="$vuetify.breakpoint.xsOnly ? '' : 'mx-3' ", v-else)
                            v-progress-circular(indeterminate, color="orange darken-3")

            .section.section-full-page
                v-layout.safe-area-inset(style="height: 100%")
                    v-flex.px-5.mx-3.text-xs-center(style="margin: auto;")
                        | Third section ...
                        v-btn(flat, color="white", href="#home") Next

    v-flex.text-xs-center(xs12, style="width: 100%; position: fixed; bottom: 25px; z-index: 10; background: trasparent;")
        v-btn.my-0.jump(flat, color='white', outline, round, href="/board/ecosystem") Get Started


    script(type="text/javascript" src='/javascripts/index-config.js')
    script.
        const vue = init('!{user}');