extends layout

block content

    include toolbar


    v-content.brown.lighten-5(style="padding-top: 50px")
        //v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-container.pa-0()

            v-flex(md12='')
                //v-card.pa-3.safe-area-inset(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")
                v-card.pa-3.safe-area-inset.elevation-0.mb-4

                    v-card-title.pb-0(style="margin-top: 20px;")
                        span.display-2(style="font-weight: 800;") 글 작성

                    v-card-text.py-0
                        v-divider.my-3

                    v-card-text
                        v-layout
                            v-flex(xs12)
                                v-card.pa-0.elevation-4
                                    v-card-text.py-1.px-0.big-text-field
                                        //span.headline.red--text.text--darken-1(style="font-weight: 700;") 제목
                                        v-text-field(label='Title', hide-details, single-line, full-width)
                                    v-card-text.pa-0
                                        v-divider
                                    v-card-text.py-1.no-padding-text-field
                                        //span.headline.red--text.text--darken-1(style="font-weight: 700;") 내용
                                        v-textarea(v-model='content', label='Content', full-width, single-line, hide-details, auto-grow)
                                    v-card-text.pa-0
                                        v-divider
                                    v-card-text.py-2.mt-4
                                        span.headline.red--text.text--darken-1(style="font-weight: 700;") 설계도
                                        v-card.my-3.elevation-6(height="250px")
                                    v-card-text.py-2.mt-4
                                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Capability
                                        v-layout.mt-2(row, wrap, justify-center, align-center)
                                            //v-layout(xs12, wrap)
                                                //v-flex(v-for='capability in capabilities', d-inline-flex)
                                            template(v-for="(capa, index) in capabilities", :key="index")
                                                v-badge.mr-3.mb-3.animation-fade-in(overlap='', color='red darken-1')
                                                    v-icon(slot='badge', dark='', small='', @click="removeCapability(index)") close
                                                    v-card.elevation-4.dal-small-card(hover, raised, :width="100")
                                                        v-card-media.white--text(height='75px', :src='"/images/capabilities/" + capa.component + ".png"')
                                                        v-card-text.py-1.text-xs-center {{ capa.title }} {{ index }}

                                            v-card.mr-3.mb-3.elevation-4.dal-small-card(hover, raised, :width="90", :height="90")
                                                v-layout(row, wrap, justify-center, align-center, style="height: 100%;", @click="addCapability()")
                                                    .display-2(style="font-weight: 100;") +


                                    v-card-text.py-2.mt-4
                                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Products
                                        v-layout.mt-2(row, wrap, justify-center, align-center)
                                            template(v-for="(platform, index) in platforms", :key="index")
                                                v-badge.mr-3.mb-3.animation-fade-in(overlap='', color='red darken-1')
                                                    v-icon(slot='badge', dark='', small='', @click="removePlatform(index)") close
                                                    v-card.elevation-4.dal-small-card(hover, raised)
                                                        v-layout(wrap,  style="height: 100%; overflow: hidden; min-height: 80px;")
                                                            v-flex.platform-gradient-background(style="width: 90px;", justify-center, align-center, d-inline-flex)
                                                                img.png-shadow(:src="platform.logo", style="max-width: 80%; max-height: 80%;")
                                                            v-flex.pa-2(style="min-width: 210px;")
                                                                v-card-text.pa-0.title {{platform.title}}
                                                                v-card-text.py-2.px-0.grey--text.text--darken-1 {{platform.company}}
                                                                v-card-text.pa-0.grey--text.text--darken-1 {{platform.cost}}

                                            v-card.mr-3.mb-3.elevation-4.dal-small-card(hover, raised, :width="90", :height="90")
                                                v-layout(row, wrap, justify-center, align-center, style="height: 100%;", @click="addPlatform()")
                                                    .display-2(style="font-weight: 100;") +


                                    v-card-text.py-2.mt-4
                                        span.headline.red--text.text--darken-1(style="font-weight: 700;") Platforms
                                    v-card-text.py-2.mt-4
                                        v-layout(align-center)
                                            v-flex.text-xs-center
                                                v-btn(color="grey", dark) 취소
                                                v-btn(color="red darken-1", dark) 등록



    include footer
    include bottom_tab

    script(type="text/javascript" src='/javascripts/regist-config.js')
    script.
        const vue = init('!{user}');