extends layout

block content

    link(href='/styles/quill.core.css', rel='stylesheet')
    link(href='/styles/quill.snow.css', rel='stylesheet')
    link(href='/styles/quill.bubble.css', rel='stylesheet')
    script(src='/scripts/quill.min.js')
    script(src='/scripts/vue-quill-editor.js')
    script(src='/scripts/interact.min.js')
    script(src='/scripts/htmlparser.js')
    script(src='/scripts/html2json.js')
    script(src='/scripts/xml-js.js')

    include toolbar


    v-content.brown.lighten-5.animation-fade-in(style="padding-top: 50px")
        //v-container.pa-0(:fluid="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-container.pa-0()

            v-flex(md12='')
                //v-card.pa-3.safe-area-inset(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'elevation-0 mb-4 pt-4' : 'elevation-10 my-4'")
                v-card.safe-area-inset.elevation-0.mb-4(:class="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly  ? 'pt-3 pb-0 px-0' : 'pa-3'")

                    v-card-title.pb-0(style="margin-top: 20px;")
                        span.display-2(style="font-weight: 800;", v-if="editorTitle === null || editorTitle === ''") 글 작성
                        span.display-2(style="font-weight: 800;", v-else) {{editorTitle}}

                    v-card-text.py-0
                        v-divider.my-3

                    v-card-text.py-0
                        v-layout(row, wrap, align-center, style="font-weight: 300; width: 100%;")
                            v-flex.xs4
                                v-select(v-model='boardType', :items='boardTypes', item-text='title', item-value='type', label='게시판선택', persistent-hint, return-object, single-line, hide-details, full-width, required, style="border-bottom: .4px solid rgba(0,0,0,0.2);")



                    v-card-text
                        v-layout
                            v-flex(xs12)
                                v-card.pa-0.elevation-4


                                    v-card-text.py-1.px-0
                                        //span.headline.red--text.text--darken-1(style="font-weight: 700;") 제목
                                        v-text-field(v-model='editorTitle', label='Title', :hide-details="editorTitle === null || editorTitle.length <= 20", single-line, full-width, required, :rules="[supporter.rules.counter_20]")
                                    //v-card-text.pa-0
                                    //    v-divider
                                    //v-card-text.py-1.no-padding-text-field
                                    //    //span.headline.red--text.text--darken-1(style="font-weight: 700;") 내용
                                    //    v-textarea(v-model='content', label='Content', full-width, single-line, hide-details, auto-grow)
                                    v-card-text.pa-0
                                        v-divider
                                    v-card-text.px-0.py-0
                                        //span.headline.red--text.text--darken-1(style="font-weight: 700;") Content
                                        //.quill-editor-example
                                            // quill-editor
                                        quill-editor.no-border-quill-editor(ref='myTextEditor', v-model='content', :options='editorOption', @blur='onEditorBlur($event)', @focus='onEditorFocus($event)', @ready='onEditorReady($event)')

                                    v-card-text.pa-0
                                        v-divider



                                    v-card-text.py-2.mt-4
                                        v-layout(align-center)
                                            v-flex.text-xs-center
                                                v-btn(color="grey", dark) 취소
                                                v-btn(color="red darken-1", dark, @click="submit()") 등록


    include footer
    //include bottom_tab


    script(type="text/javascript" src='/javascripts/regist-config.js')
    script.
        const vue = init('!{user}', '!{boardType}');