v-toolbar.safe-area-inset-padding(fixed, flat, dark, dense, style="background: transparent;")
    v-toolbar-title.ml-2(onclick="window.location.href='/'") IoT Shared Platform
    v-spacer
    v-toolbar-items
        v-btn(flat, style='height: auto;', color="white", href="#home") Home
        v-btn(flat, style='height: auto;', color="white", href="#about") About
