v-toolbar.safe-area-inset-padding(fixed, flat, dark, dense, style="background: transparent;")
    v-toolbar-title.ml-2(onclick="window.location.href='/'") IoT Shared Platform
    v-spacer
    v-menu(bottom, left, v-if="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smOnly")
        v-btn(slot='activator', dark, icon)
            v-icon more_vert
        v-list.dal-card
            v-list-tile(href="#home")
                v-list-tile-title Home
            v-list-tile(href="#about")
                v-list-tile-title About
    v-toolbar-items(v-else)
        v-btn(flat, style='height: auto;', color="white", href="#home") Home
        v-btn(flat, style='height: auto;', color="white", href="#about") About

