v-toolbar.safe-area-inset-padding(fixed, flat, dark, dense, style="background-color: rgba(0, 0, 0, 0.7) !important;")
    v-toolbar-side-icon(@click="supporter.drawer = !supporter.drawer")
    //v-toolbar-title.ml-2(onclick="window.location.href='/'", style="cursor: pointer")
    img(src="/images/logo/iotips_dark.png", height="18px", onclick="window.location.href='/'", style="cursor: pointer")
    v-spacer
    template(v-if="auth.user === null")
        v-btn(flat, dark, icon, v-if="$vuetify.breakpoint.xsOnly", @click="auth.toggleDialog()")
            v-icon account_circle
        v-btn(v-else, flat, dark, @click="auth.toggleDialog()") Login
    template(v-else)
        //v-avatar.mr-2(:tile='false', size='30px', onclick="window.location.href='/mypage'")
        //    img(:src='auth.user.photo', alt='Avatar', style="border-radius: 35% !important; object-fit: cover; cursor: pointer;")
        v-btn.ma-0(flat, color="white", style="height: 100%;", onclick="window.location.href='/mypage'", v-if="!$vuetify.breakpoint.xsOnly ")
            v-avatar.mr-2(:tile='false', size='30px')
                img(:src='auth.user.photo', alt='Avatar', style="border-radius: 35% !important;")
            | My Tips
        v-avatar(:tile='false', size='30px', onclick="window.location.href='/mypage'", v-else)
            img(:src='auth.user.photo', alt='Avatar', style="border-radius: 35% !important; object-fit: cover;")



include login
include navigation_drawer